.bottom {
    background-color: var(--color-base-bg-2);
    padding-top: $section-gutter * 2;
    padding-bottom: $section-gutter;
    font-size: 16px;

    p {
        font-size: 20px;
        font-weight: 900;
    }

    .copyright {
        padding: 3px 0;
        @include media-breakpoint-up(md) {
            display: inline-block;
            padding: 0;
        }

        font-weight: bold;
    }
    .bottom-last-row {
        display: flex;
        justify-content: space-between;
    }
    .menu-bottom {
        @include media-breakpoint-down(md) {
            display: inline-block;
            .footer-col {
                margin-top: 16px;
            }
        }

        .footer-social {
            a {
                &:hover {
                    color: var(--color-primary);
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;

                display: block;
                padding: 7.5px 0;

                @include media-breakpoint-up(md) {
                }
                a {
                    display: inline-block;
                    color: var(--color-base-text);
                    padding: 3px 0;
                    @include media-breakpoint-up(md) {
                        padding: 6px;
                    }
                    &:hover {
                        color: var(--color-primary);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
