{% assign category_seo = site.data.categories.categories[page.category] %} {% assign seo_title = page.meta_title %} {%
if seo_title == nil or seo_title == '' %} {% assign seo_title = category_seo.meta_title %} {% endif %} {% if seo_title
== nil or seo_title == '' %} {% assign seo_title = page.title %} {% endif %} {% if seo_title == nil or seo_title == ''
%} {% assign seo_title = site.title %} {% endif %} {% assign seo_description = page.meta_description %} {% if
seo_description == nil or seo_description == '' %} {% assign seo_description = page.description %} {% endif %} {% if
seo_description == nil or seo_description == '' %} {% assign seo_description = category_seo.meta_description %} {% endif
%} {% if seo_description == nil or seo_description == '' %} {% assign seo_description = category_seo.description %} {%
endif %} {% if seo_description == nil or seo_description == '' %} {% assign seo_description = site.description %} {%
endif %}

<title>{{ seo_title }}</title>

<meta property="og:title" content="{{ seo_title }}" />
{% if page.meta_og_type %}
<meta property="og:type" content="{{ page.meta_og_type }}" />
{% endif %} {% if page.image %}
<meta property="og:image" content="https://oliverjessner.at{{ page.image }}" />
<meta name="twitter:card" content="https://oliverjessner.at{{ page.image }}" />

{% endif %}

<meta property="og:url" content="https://oliverjessner.at{{page.url}}" />
<link rel="canonical" href="{{ page.url | absolute_url }}" />
<meta property="og:description" content="{{ seo_description }}" />
<meta name="description" content="{{ seo_description }}" />
{% assign seo_robots = page.meta_robots | default: 'max-image-preview:large' %}
{% if paginator and paginator.page > 1 and page.url contains '/blog/page/' %}
{% assign seo_robots = 'noindex, max-image-preview:large' %}
{% endif %}
<meta name="robots" content="{{ seo_robots }}" />
<meta name="twitter:creator" content="@oliverjessner" />
<meta name="twitter:card" content="@oliverjessner" />
<meta name="twitter:site" content="summary" />
<meta name="author" content="Oliver Jessner" />
<meta name="msvalidate.01" content="C3E6A527D456D4816C2AA7470CBC6575" />
