theme: jekyll-theme-minimal
title: Oliver Harald Jessner
email: oliver.jessner@gmail.com
github_username: oliverjessner
github:
  is_project_page: false
  is_user_page: true
avatar: img/oli.png
description: >-
    <strong>Pages:</strong>
    <ul>
      <li><a href="/full_web_course"><i class="fa-solid fa-computer"></i>Entwickler werden</a></li>
      <li><a href="/story"><i class="fa-solid fa-book"></i> My Story</a></li>
      <li><a href="/faq"><i class="fa-solid fa-clipboard-question"></i> FAQ</a></li>
    </ul>
    <strong>Social Media:</strong>
    <ul>
      <li><a href="https://www.youtube.com/c/ProgrammierenlernenmitOli/videos" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i> YouTube</a></li>
      <li><a href="https://www.tiktok.com/@oliverjessner" target="_blank" rel="noopener"><i class="fa-brands fa-tiktok"></i> TikTok</a></li>
      <li><a href="https://www.buymeacoffee.com/oliverjessner" target="_blank" rel="noopener"><i class="fa-solid fa-coffee"></i> Buy Me a Coffee</a></li>
      <li><a href="https://www.linkedin.com/in/oliverjessner/" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
    </ul>

    <strong>E-Mail</strong>
    <ul>
      <li><i class="fa-solid fa-envelope"></i> oliver.jessner (at) gmail.com</li>
    </ul>
  