<div class="col-12 col-lg-4">
    <div class="content text-center big-number">
        <img class="image-dark" src="{{page.big-number-1-img}}-white.svg" />
        <img class="image-light" src="{{page.big-number-1-img}}-black.svg" />
        <h1 class="text-center">{{page.big-number-1}}</h1>
        <p class="text-center">{{page.big-number-1-subtext}}</p>
    </div>
</div>
<div class="col-12 col-lg-4">
    <div class="content text-center big-number">
        <img class="image-dark" src="{{page.big-number-2-img}}-white.svg" />
        <img class="image-light" src="{{page.big-number-2-img}}-black.svg" />
        <h1>{{page.big-number-2}}</h1>
        <p>{{page.big-number-2-subtext}}</p>
    </div>
</div>
<div class="col-12 col-lg-4">
    <div class="content text-center big-number">
        <img class="image-dark" src="{{page.big-number-3-img}}-white.svg" />
        <img class="image-light" src="{{page.big-number-3-img}}-black.svg" />
        <h1>{{page.big-number-3}}</h1>
        <p>{{page.big-number-3-subtext}}</p>
    </div>
</div>
