{% assign category_name = include.category_name %}
{% assign show_count = include.show_count | default: false %}
{% assign category_slug = category_name | slugify %}
{% assign category_dir = site.category_dir | default: 'category' | remove_first: '/' %}
{% capture category_url %}/{{ category_dir }}/{{ category_slug }}/{% endcapture %}

<div class="category-link">
    <a href="{{ category_url | strip | replace: '//', '/' | relative_url }}"> {{ category_name }} </a>
    {% if show_count %}
    <span>({{site.categories[category_name].size}})</span>
    {% endif %}
</div>
