<div class="section pt-0{% if include.wrapper_class %} {{ include.wrapper_class }}{% endif %}" id="weitere-kategorien">
    <div class="container">
        {% if site.categories.size > 1 %}
        <div class="row">
            <div class="col-12">
                <div class="category-suggestions">
                    <h3>Weitere Kategorien</h3>
                    <div class="d-flex flex-wrap gap-2 justify-content-center card-categories">
                        {% assign categories_by_count = "" | split: "" %} {% for category in site.categories %} {%
                        assign category_name = category[0] %} {% assign category_count = category[1] | size %} {% assign
                        external_count = 0 %} {% for publication in site.data.links.publications %} {% assign
                        group_links = site.data.links[publication.key] | default: empty %} {% for article in group_links
                        %} {% if article.categories contains category_name %} {% assign external_count = external_count
                        | plus: 1 %} {% endif %} {% endfor %} {% endfor %} {% assign total_category_count =
                        category_count | plus: external_count %} {% if category_name != page.category %} {% capture
                        category_entry %}{{ total_category_count | plus: 100000 }}|||{{ category_name }}{% endcapture %}
                        {% assign categories_by_count = categories_by_count | push: category_entry %} {% endif %} {%
                        endfor %} {% assign categories_by_count = categories_by_count | sort | reverse %} {% for
                        category_entry in categories_by_count %} {% assign category_parts = category_entry | split:
                        "|||" %} {% assign category_name = category_parts[1] %}
                        <div class="category-link">
                            {% include framework/blocks/components/category-link.html category_name=category_name
                            show_count=true %}
                        </div>
                        {% endfor %}
                        {% include framework/blocks/components/video-category-links.html %}
                        {% include framework/blocks/components/ticker_symbol_in_categories.html %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>