<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <h1>Mehr über mich</h1>
            <br />
            <p>
                Seit 14 Jahren habe ich zahlreiche Rollen im Bereich der Softwareentwicklung übernommen. Von meiner
                Tätigkeit als Freelancer für Softwareentwicklung über die Gründung eines von Investoren finanzierten
                Startups bis hin zur Position des CTO in einer Agentur.
            </p>
            <br />
            <p>{% include framework/blocks/components/social.html %}</p>
        </div>
        <div class="col-12 col-md-4">
            <img class="oli-image" title="Ein Bild von Oliver Jessner" src="/assets/images/details/oli.png" />
        </div>
        <div class="col-12 col-md-4">
            <h1>Content Kunden</h1>
            <br />
            <p>
                Das sind meine aktuellen Kunden aus dem Bereich Social Media Content und Fachartikel. Als Social
                Media-Mikroinfluencer verstehe ich die Dynamiken und Trends der Plattformen und kann maßgeschneiderte
                Inhalte entwickeln, die ihre Zielgruppen ansprechen und engagieren.
            </p>
            <hr />
            {% include framework/blocks/sections/partners.html %}
        </div>
    </div>
</div>
