.consulting img {
    max-width: 100%;
}

.consulting .container .row ul {
    margin-top: 25px;
    margin-left: 10px;
    list-style-type: disc;
    line-height: 1.4;
}

.consulting .col-12.col-lg-6 img {
    border-radius: 30px;
}
