.journalismus .golem-screenshot {
    max-height: 500px;
    max-width: 100%;
}

.journalismus img {
    max-width: 100%;
}

.journalismus .proof .row {
    padding: 15px;
}

.journalismus .proof .row.logos > * {
    padding: 0;
}

.journalismus .logos img:hover {
    transform: translateY(-6px) scale(1.1);
    transition:
        transform 180ms ease,
        box-shadow 180ms ease;
}

.journalismus .values p {
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

@media (max-width: 992px) {
    .journalismus .title-heading a {
        margin-top: 10px;
        display: block;
    }
}
