* {
    --brand-color: #ff4a4a;
}

strong {
    color: var(--brand-color);
}

ol,
ul {
    word-wrap: break-word;
}

.oli-image {
    width: 100%;
}

.modern-bullets {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
