.product-management ul {
    list-style: circle;
    margin-left: 15px;
    padding: 0 5px;
}

.product-management ul li {
    padding: 7.5px 0;
}

.product-management img {
    max-width: 400px;
}

.product-management .ressources-image {
    width: 340px;
}

.image-container {
    display: flex;
    justify-content: center;
}
