<div class="menu-main">
  <ul>
    {% assign blog_navigation_active = false %}
    {% if page.layout == 'post' or page.layout == 'category' or page.layout == 'blog' %}
      {% assign blog_navigation_active = true %}
    {% endif %}
    {% for item in site.data.menu.main %}
      {% assign item_active = false %}
      {% if item.url == page.url %}{% assign item_active = true %}{% endif %}
      {% if item.child %}
        {% for childitem in item.child %}
          {% if childitem.url == page.url %}
            {% assign item_active = true %}
            {% break %}
          {% elsif childitem.url == '/blog/' and blog_navigation_active %}
            {% assign item_active = true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if item.child %}
        <li class="menu-item-dropdown menu-item-{{ item.name }}{% if item_active %} active{% endif %}">
          <a href="{{ item.url | relative_url }}" class="menu-main__link">
            <span class="menu-main__label">
              {{ item.name }}
              {% include framework/global/menu/nav-scribble.html %}
            </span>
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
          </a>
          
          <div class="dropdown-menu">
            {% for childitem in item.child  %}
              <a href="{{ childitem.url | relative_url }}" class="dropdown-item{% if childitem.url == page.url %} active{% endif %}"{% if childitem.url == page.url %} aria-current="page"{% endif %}>
                {% if childitem.icon %}
                  <div class="dropdown-item-icon"><img src="{{ childitem.icon | relative_url }}" /></div>
                {% endif %}
                {% if childitem.icon_darkmode %}
                  <div class="dropdown-item-icon icon-invert"><img src="{{ childitem.icon_darkmode  | relative_url }}" /></div>
                {% endif %}

                <div class="dropdown-item-content">
                  {% if childitem.name %}<div class="dropdown-item-name">{{ childitem.name }}</div>{% endif %}
                  {% if childitem.description %}<div class="dropdown-item-description">{{ childitem.description }}</div>{% endif %}
                </div>

              </a>

            {% endfor %}
          </div>

        </li>
      {% else %}
        <li{% if item_active %} class="active"{% endif %}>
          <a href="{{ item.url | relative_url }}" class="menu-main__link"{% if item_active %} aria-current="page"{% endif %}>
            <span class="menu-main__label">
              {{ item.name }}
              {% include framework/global/menu/nav-scribble.html %}
            </span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
