.grid {
}
.grid-footer {
    display: flex;
    justify-content: flex-start;
    &.grid-footer-align-right {
        justify-content: flex-end;
    }
    &.grid-footer-align-center {
        justify-content: center;
    }
    .grid-view-more-button {
        padding: 10px 14px;
        font-size: 16px;
        background: #ec255a;
        border-radius: 40px;
        text-transform: capitalize;
        font-weight: normal;
        letter-spacing: 0;
        color: var(--color-primary-text);
        text-decoration: none;
        transition: all 0.15s ease;
    }
}
.grid-heading {
    margin-bottom: 16px;
    h2 {
        text-transform: uppercase;
        font-size: 20px;
        border-left: 4px solid var(--color-primary);
        padding-left: 10px;
        font-weight: 500;
        color: var(--color-base);
        font-family: $font-family-base;
    }
    p {
        font-size: 18px;
    }
}
