.services {
    .row.justify-content-center {
        gap: 30px 0;
        margin-top: 30px;
    }
}

.partners {
    .row.justify-content-center.align-items-center {
        gap: 30px 0;
        margin-top: 30px;
    }
    img {
        filter: grayscale(100%);
        max-width: 100%;
        max-height: 40px;
        @include media-breakpoint-up(md) {
            width: auto;
            max-width: 200px;
        }
        html[data-mode='dark'] & {
            filter: grayscale(100%) invert(100%);
        }
    }
}
