---
layout: default
body_classes: page-category
---

<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                {% assign category_data = site.data.categories.categories[page.category] %} {% assign
                category_description = category_data.description %} {% include framework/blocks/sections/title.html
                title=page.title description=category_description image=page.image badge="category" %}
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row">
            {% for post in site.posts %} {% if post.categories contains page.category %}

            <div class="col-12 col-md-6 mb-2">
                {% include theme/cards/card-post.html title=post.title date=post.date description=post.description
                thumbnail=post.thumbnail url=post.url style="list" %}
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        {% if site.categories.size > 1 %}
        <div class="row">
            <div class="col-12">
                <div class="category-suggestions">
                    <h3>Weitere Kategorien</h3>
                    <div class="d-flex flex-wrap gap-2 justify-content-center card-categories">
                        {% assign categories_by_count = "" | split: "" %} {% for category in site.categories %} {%
                        assign category_name = category[0] %} {% assign category_count = category[1] | size %} {% if
                        category_name != page.category %} {% capture category_entry %}{{ category_count | plus: 100000
                        }}|||{{ category_name }}{% endcapture %} {% assign categories_by_count = categories_by_count |
                        push: category_entry %} {% endif %} {% endfor %} {% assign categories_by_count =
                        categories_by_count | sort | reverse %} {% for category_entry in categories_by_count %} {%
                        assign category_parts = category_entry | split: "|||" %} {% assign category_name =
                        category_parts[1] %}
                        <div class="category-link">
                            {% include framework/blocks/components/category-link.html category_name=category_name
                            show_count=true %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
