---
layout: default
body_classes: page-impressum
---

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="content">
                    <h1>Impressum</h1>

                    <p><strong>Angaben gemäss § 5 ECG / § 25 MedienG</strong></p>

                    <p>
                        Ing. Oliver Jesssner, MBA<br />
                        5020 Salzburg<br />
                        Österreich
                    </p>

                    <p>
                        <strong>Kontakt</strong><br />
                        E-Mail: oliver . jessner @ gmail . com<br />
                    </p>

                    <p>
                        <strong>Unternehmensdaten</strong><br />
                        Firmenbuchgericht: Salzburg<br />
                    </p>

                    <p>
                        <strong>Haftung fuer Inhalte</strong><br />
                        Die Inhalte dieser Website wurden mit groesster Sorgfalt erstellt. Fuer die Richtigkeit,
                        Vollsändigkeit und Aktualität der Inhalte kann jedoch keine Gewaehr uebernommen werden.
                    </p>

                    <p>
                        <strong>Haftung fuer Links</strong><br />
                        Diese Website enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss
                        habe. Deshalb kann ich fuer diese fremden Inhalte auch keine Gewaehr uebernehmen.
                    </p>

                    <p>
                        <strong>Urheberrecht</strong><br />
                        Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                        Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet.
                    </p>

                    <p>© Copyright Oliver Jessner – alle Rechte vorbehalten.</p>
                </div>
            </div>
        </div>
    </div>
</div>
