---
layout: default
body_classes: vpaas
---

<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-lg-8">
                <h1>VP as a Service</h1>
                <br />
                <p>
                    Unternehmen <strong>wachsen</strong> oft organisch und haben weder die Zeit noch die internen
                    Ressourcen, um wichtige strategische Themen effektiv anzugehen. In einer dynamischen Geschäftswelt
                    ist es daher entscheidend, flexible und erfahrene Führungskräfte zu haben, um Wachstumsziele zu
                    erreichen und strategische Initiativen voranzutreiben.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <h2>Führung und Teammanagement</h2>
                <br />
                <div class="row">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-2x fa-asterisk"></i>
                    </div>

                    <div class="col-10">
                        <p>
                            Teambildung:Aufbau und Leitung <strong>leistungsstarker</strong> Teams von Fachleuten,
                            einschließlich Projektmanagern, Beratern und technischen Experten.
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-2x fa-asterisk"></i>
                    </div>

                    <div class="col-10">
                        <p>
                            Ressourcenzuweisung: Effiziente Zuweisung von Ressourcen zu Projekten basierend auf
                            Fähigkeiten, <strong>Expertise</strong> und Projektanforderungen.
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-2x fa-asterisk"></i>
                    </div>
                    <br />
                    <div class="col-10">
                        <p>
                            Talententwicklung: Identifizierung und <strong>Förderung</strong> von Talenten innerhalb der
                            Organisation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-sm-none d-md-block">
                <img alt="Mehrere Menschen die sich in einem Büro aufhalten." src="/assets/images/vpaas/teams.webp" />
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-sm-none d-md-block">
                <img alt="Ein Bild eines Schreibtisches voll mit Unterlagen." src="/assets/images/vpaas/strat.webp" />
            </div>
            <div class="col-12 col-lg-6">
                <h2>Strategische Planung</h2>
                <br />
                <div class="row">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-2x fa-asterisk"></i>
                    </div>

                    <div class="col-10">
                        <p>
                            Geschäftsstrategie: Zusammenarbeit mit der Geschäftsführung zur Entwicklung und Umsetzung
                            der übergeordneten <strong>Geschäftsstrategie</strong> des Unternehmens, mit einem
                            Schwerpunkt auf professionelle Dienstleistungen.
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-2x fa-asterisk"></i>
                    </div>

                    <div class="col-10">
                        <p>
                            Dienstleistungserweiterung: Identifizierung von <strong>Möglichkeiten</strong> zur
                            Erweiterung des Dienstleistungsangebots, zum Eintritt in neue Märkte oder zur Verbesserung
                            bestehender Dienstleistungen, um den sich ändernden Kundenbedürfnissen gerecht zu werden.
                        </p>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <h2>Warum genau ich?</h2>
                <br />
                <p>
                    Wenn man einen Dienstleister bucht, wird man sich die Frage stellen, warum genau dieser? Bei mir
                    lautet die Antwort folgendermaßen: Ich habe ein eigenes Startup gegründet, Investoren gewonnen und
                    unzählige Förderungen geschrieben. Ich habe gelernt, wie man schnell auf den Markt
                    <strong>reagiert</strong> und dynamische Probleme beseitigt, die eine moderne Arbeitswelt uns in den
                    Weg stellt.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img class="oli-image" title="Ein Bild von Oliver Jessner" src="/assets/images/details/oli.png" />
            </div>
            <div class="col-12 col-lg-4 col-xs-hidden">
                <h2>Meine Erfahrung</h2>
                <br />
                <p>
                    Mit einem Ingenieur in Informationstechnologie, einem Studium der
                    <strong>Computerwissenschaften</strong> und einem Studium in <strong>BWL</strong> verbinde ich zwei
                    wissenschaftliche Disziplinen. Ich habe nicht nur sehr große Projekte als Softwareentwickler
                    begleitet, sondern auch als Geschäftsführer Entscheidungen für meine eigenen Angestellten getroffen
                    und als CTO die strategischen Entscheidungen für einen Betrieb mit 50 Mitarbeitern verantwortet.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section get-in-touch">{% include framework/blocks/sections/get_in_touch.html %}</div>

<div class="section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="image-container">
                    <img alt="" src="/assets/images/vpaas/oli.webp" />
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h1>Startup im Konzern</h1>
                <br />
                <p>
                    Immer mehr Konzerne und große Mittelständler gründen Startups in Konzernen, um dem Hierarchie- und
                    Prozesschaos zu entgehen und sich auf das wirklich Wichtige zu konzentrieren:
                    <strong>ein neues Produkt</strong>. Meine Erfahrungen in beiden Welten sind die perfekte Lösung, um
                    mich als VP as a Service einzusetzen.
                </p>
                <br />
                <p>
                    Als Social Media <strong>Mikroinfluencer</strong> im Softwareentwicklungsbereich kann ich auf einen
                    gigantischen Pool möglicher Softwareentwickler zurückgreifen. Dazu kommt, dass ich ein Netzwerk von
                    vielen <strong>Startup-Gründern</strong> habe, welches es mir ermöglicht, das perfekte Team im
                    Bruchteil eines typischen Recruitment-Prozesses zusammenzustellen.
                </p>
            </div>
        </div>
    </div>
</div>
